<div class="container">
  <div class="row">
    <div class="col-6">
      <%= simple_form_for list do |l| %>
        <%= l.input :name %>
        <%= l.button :submit, class: 'btn btn-primary mt-3'%>
      <% end %>
    </div>
  </div>
</div>
